body {
    position: relative;
    z-index: 2;
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    padding: 34px 0;
    letter-spacing: 0.01em;
    overflow-x: hidden;

    background-color: #04080B;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 15px;

    @media screen and (max-width:1110px) {
        max-width: 690px;
    }

    @media screen and (max-width:767px) {
        max-width: 320px;
    }
}