:root {
    // text-color vars
    --primary-text-color: #FFFFFF;
    --accent-text-color: #73DEF1;

    // background-color vars
    --button-back-color: #2E46C2;

    // fonts vars
    --primary-font: 'Khand';
    --secondary-font: 'Rubik';
}