.header {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__menu {
    display: none;
    width: 32px;
    height: 32px;

    @media screen and (max-width:1110px) {
        display: block;
    }
}

.header__logo {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 34px;
    border-right: 1px solid rgba(255, 255, 255, 0.06);

    @media screen and (max-width:1110px) {
        border: none;
        padding-right: 0;
    }

    @media screen and (max-width:767px) {
        & img {
            width: 211px;
            height: 35px;
        }
    }
}

.header__nav {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:1110px) {
        display: none;
    }
}

.nav__list {
    display: flex;
    gap: 54px;
}

.nav__link {
    font-size: 16px;
    line-height: 1;
    font-family: var(--primary-font);

    &.active {
        color: var(--accent-text-color);
    }
}

.header__lang {
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1;

    height: 75px;
    padding-left: 52px;
    border-left: 1px solid rgba(255, 255, 255, 0.06);

    @media screen and (max-width:1110px) {
        display: none;
    }
}