.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #04080B9E;

    transition-duration: 500ms;
    opacity: 0;
    visibility: hidden;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #05090C;
    border: 7px solid rgba(255, 255, 255, 0.01);
    border-radius: 30px;
    width: 593px;
    padding: 61px 61px 52px 61px;

    @media screen and (max-width:767px) {
        width: 320px;
        padding: 56px 30px 46px 36px;
    }
}

.modal__close {
    position: absolute;
    top: 43px;
    right: 46px;
    width: 30px;
    height: 30px;

    @media screen and (max-width:767px) {
        top: 36px;
        right: 30px;
    }
}

.modal__title {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.03;
    letter-spacing: 0.02em;
    margin-bottom: 14px;

    @media screen and (max-width:767px) {
        line-height: 1.09;
        margin-bottom: 22px;
    }
}

.modal__desc {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #DDDDDD;
    max-width: 436px;
    margin-bottom: 14px;

    @media screen and (max-width:767px) {
        margin-bottom: 22px;
    }
}

.modal__info {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    margin-bottom: 12px;

    @media screen and (max-width:767px) {
        flex-wrap: wrap;
        gap: 0;
    }
}

.modal__item {
    &:nth-child(1) {
        width: 100%;
        margin-bottom: 36px;
    }

    &:nth-child(2) {
        margin-bottom: 21px;
        width: 100%;
    }

    &:nth-child(3) {
        width: 50%;
    }

    &:nth-child(4) {
        width: 50%;
        margin-bottom: 36px;
    }
}

.modal__info_title {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 10px;

    @media screen and (max-width:767px) {
        margin-bottom: 19px;
    }
}

.modal__web {
    display: inline-block;
    padding: 9px 21px;
    background: rgba(255, 255, 255, 0.02);
    border: 2px solid rgba(76, 97, 209, 0.16);
    border-radius: 30px;

    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;

    @media screen and (max-width:767px) {
        width: 100%;
    }
}

.modal__sector {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

.modal__status {
    max-width: 265px;
    margin-left: auto;

    @media screen and (max-width:767px) {
        display: none;
    }
}

.modal__status_mobile {
    display: none;

    @media screen and (max-width:767px) {
        display: block;
    }
}

.modal__status_title {
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 9px;

    @media screen and (max-width:767px) {
        margin-bottom: 19px;
    }
}

.modal__status_text {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}