.priority {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);

    .container {
        display: flex;
        align-items: baseline;
    }
}

.priority__title {
    padding: 147px 238px 218px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.06);

    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;

    @media screen and (max-width:1110px) {
        padding: 90px 40px 150px 0;
        font-size: 45px;
    }
}

.priority__desc {
    padding-left: 109px;
    display: flex;
    align-items: flex-start;
    gap: 28px;

    @media screen and (max-width:1110px) {
        padding-left: 0;
        margin-left: auto;
    }
}

.priority__number {
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: 52px;
    line-height: 1;
    padding: 9.5px 10px;
    background-color: var(--button-back-color);
    border-radius: 15px;
}

.priority__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.priority__text {
    font-size: 44px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    @media screen and (max-width:1110px) {
        font-size: 35px;
    }
}