.ticket {
    padding-top: 42px;
    padding-bottom: 81px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.ticket__title {
    font-weight: 500;
    font-size: 52px;
    line-height: 1.23;
    text-align: center;
    margin-bottom: 24px;
}

.ticket__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-bottom: 60px;
}

.ticket__text {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.02em;

    span {
        font-weight: 400;
        line-height: 1;
        margin-left: 8px;
        font-size: 24px;
    }
}

.ticket__icon {
    display: block;
    margin-right: 13px;
}

// portfolio
.portfolio {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.portfolio__list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.portfolio__item {
    &:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 54px;
        padding-right: 99px;
        width: 330px;
    }

    &:nth-child(2) {
        width: 365px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 42px;
        padding-bottom: 54px;
        border-left: 1px solid rgba(255, 255, 255, 0.06);
        border-right: 1px solid rgba(255, 255, 255, 0.06);
    }

    &:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 54px;
        padding-left: 118px;
        width: 330px;
    }
}

.portfolio__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 0.88;
    margin-bottom: 46px;
}

.portfolio__logo {
    margin-bottom: 42px;
}

.portfolio__button {
    padding: 16px 31px;
    background: rgba(255, 255, 255, 0.02);
    border: 2px solid #4C61D1;
    border-radius: 30px;

    font-family: var(--primary-font);
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.02em;
}

// portfolio

.ticket__see {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    margin-bottom: 90px;
}

.ticket__see_button {
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 35px;

    padding: 19px 31px;
    background: var(--button-back-color);
    border: 2px solid rgba(76, 97, 209, 0.16);
    border-radius: 30px;

    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.02em;
}

.ticket__content {
    display: flex;
    align-items: flex-start;
    gap: 134px;
}

.ticket__image {
    margin-left: 18px;
}

.ticket__subtitle {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    margin-top: 45px;
    margin-bottom: 26px;
}

.ticket__apply {
    display: inline-block;
    padding: 19px 31px;
    background: var(--button-back-color);
    border: 2px solid rgba(76, 97, 209, 0.16);
    border-radius: 30px;

    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.02em;
}