*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

input::-moz-placeholder {
  color: inherit;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input:-ms-input-placeholder {
  color: inherit;
}

input::-ms-input-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a {
  font-family: initial;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

:root {
  --primary-text-color: #FFFFFF;
  --accent-text-color: #73DEF1;
  --button-back-color: #2E46C2;
  --primary-font: "Raleway";
  --secondary-font: "Rubik";
}

body {
  position: relative;
  z-index: 2;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  padding: 34px 0;
  letter-spacing: 0.01em;
  overflow-x: hidden;
  background-color: #04080B;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  body {
    background-image: url(../img/bg-mob.jpg);
  }
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}

@media screen and (max-width: 1110px) {
  .container {
    max-width: 690px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
    padding: 0;
  }
}

.header {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: none;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1110px) {
  .header__menu {
    display: block;
  }
}

.header__logo {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 34px;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}

@media screen and (max-width: 1110px) {
  .header__logo {
    border: none;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__logo img {
    width: 211px;
    height: 35px;
  }
}

.header__nav {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1110px) {
  .header__nav {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 54px;
}

.nav__link {
  font-size: 16px;
  line-height: 1;
  font-family: var(--primary-font);
  transition-duration: 300ms;
}

.nav__link:hover {
  color: #2B90A2;
}

.nav__link.active {
  color: var(--accent-text-color);
}

.header__lang {
  position: relative;
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  height: 75px;
  padding-left: 49px;
  border-left: 1px solid rgba(255, 255, 255, 0.06);
}

.header__lang_wrap {
  position: relative;
  width: 70px;
}

.lang__multi {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  position: absolute;
  bottom: -37px;
  left: 0;
  padding: 10px 13px 10px 0;
  width: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.02);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition-duration: 500ms;
  opacity: 0;
  visibility: hidden;
}

.header__lang_span {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 13px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition-duration: 500ms;
  cursor: pointer;
}

.header__lang_span img {
  transition-duration: 500ms;
}

.header__lang_wrap:hover .header__lang_span {
  background-color: #16162D;
}

.header__lang_wrap:hover .header__lang_span img {
  transform: rotate(-180deg);
}

.header__lang_wrap:hover .header__lang_span {
  background-color: #16162D;
}

.header__lang_wrap:hover .lang__multi {
  background-color: #16162D;
  opacity: 1;
  visibility: visible;
}

.header__lang_wrap:hover .lang__multi {
  background-color: #16162D;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1110px) {
  .header__lang {
    display: none;
  }
}

.hero {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 54px;
  }
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .hero .container {
    flex-direction: column;
    gap: 34px;
    align-items: flex-start;
  }
}

.hero__content {
  width: 50%;
  padding-top: 140px;
  padding-bottom: 180px;
  max-width: 700px;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}

@media screen and (max-width: 1110px) {
  .hero__content {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .hero__content {
    border-right: none;
    padding-top: 49px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero__image {
    margin-top: 0;
    max-width: 100%;
  }
}

.hero__title {
  font-size: 72px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 13px;
}

@media screen and (max-width: 1110px) {
  .hero__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 64px;
    line-height: 1.12;
    margin-bottom: 2px;
  }
}

.hero__title span {
  position: relative;
}

.hero__title span::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #2E46C2;
}

@media screen and (max-width: 1110px) {
  .hero__title span::before {
    bottom: 0;
    height: 7px;
  }
}

@media screen and (max-width: 767px) {
  .hero__title span::before {
    height: 10px;
    bottom: 22px;
    display: none;
  }
}

.hero__desc {
  font-size: 32px;
  line-height: 1.28;
  max-width: 474px;
}

@media screen and (max-width: 1110px) {
  .hero__desc {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .hero__desc {
    font-size: 26px;
    width: 300px;
  }
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

@media screen and (max-width: 1110px) {
  .footer {
    padding-top: 39px;
    border-bottom: none;
  }
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  height: 75px;
}

@media screen and (max-width: 1110px) {
  .footer .container {
    display: none;
  }
}

.footer__mobile {
  display: none;
}

@media screen and (max-width: 1110px) {
  .footer__mobile {
    display: block;
  }
}

.footer__logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1110px) {
  .footer__logo {
    padding-right: 0;
    border: none;
    margin-bottom: 36px;
  }

  .footer__logo img {
    width: 211px;
    height: 35px;
  }
}

.footer__nav .nav__list {
  gap: 22px;
}

@media screen and (max-width: 1110px) {
  .footer__nav .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
  }
}

@media screen and (max-width: 1110px) {
  .footer__nav .nav__link {
    font-size: 22px;
    line-height: 1;
  }
}

@media screen and (max-width: 1110px) {
  .footer__nav .nav__link_email {
    display: none;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 1110px) {
  .footer__social {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    justify-content: center;
    padding-top: 34px;
    padding-bottom: 34px;
    gap: 30px;
  }
}

.footer__copy {
  padding-left: 38px;
  border-left: 1px solid rgba(255, 255, 255, 0.06);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1110px) {
  .footer__copy {
    padding-top: 35px;
    padding-left: 0;
    border: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #04080B;
  background-image: url(../img/section/menu/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition-duration: 500ms;
  opacity: 0;
  transform: translate(-100%);
}

.menu__header {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.menu__header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 660px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .menu__header_container {
    max-width: 320px;
  }
}

.menu__close {
  width: 32px;
  height: 32px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu__link {
  font-family: var(--primary-font);
  font-size: 22px;
  line-height: 1;
}

.menu__link.active {
  color: var(--accent-text-color);
}

.menu__social {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.sectors {
  padding: 63px 0 100px 0;
}

@media screen and (max-width: 1110px) {
  .sectors {
    padding: 50px 0 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .sectors {
    padding: 54px 0;
  }
}

.sectors__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 1.33;
  margin-bottom: 58px;
  text-align: center;
}

@media screen and (max-width: 1110px) {
  .sectors__title {
    font-size: 44px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .sectors__title {
    display: none;
  }
}

.sectors__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .sectors__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.sectors__button {
  display: inline-block;
  padding: 16px 31px;
  border: 2px solid rgba(76, 97, 209, 0.1);
  border-radius: 30px;
  transition-duration: 300ms;
  cursor: pointer;
}

.sectors__button:hover {
  background-color: rgba(255, 255, 255, 0.02);
  border: 2px solid rgba(76, 97, 209, 0.3);
}

.sectors__button:focus {
  border: 2px solid #4C61D1;
}

@media screen and (max-width: 767px) {
  .sectors__button {
    width: 100%;
    text-align: center;
  }
}

.sectors__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1110px) {
  .sectors__subtitle {
    font-size: 16px;
  }
}

.market {
  padding: 111px 0 72px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

@media screen and (max-width: 1110px) {
  .market {
    padding: 80px 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .market {
    padding: 0 0 50px 0;
  }
}

.market__about {
  max-width: 1080px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition-duration: 500ms;
}

@media screen and (max-width: 1110px) {
  .market__about {
    border-radius: 0;
  }
}

@media screen and (max-width: 767px) {
  .market__about {
    margin-bottom: 54px;
    gap: 17px;
  }
}

.market__text {
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.02em;
}

.market__text:nth-child(2) {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .market__text {
    font-size: 16px;
    line-height: 1.5;
    max-width: 283px;
  }

  .market__text:nth-child(2) {
    text-align: left;
  }
}

.market__list {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1110px) {
  .market__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .market__list {
    gap: 25px;
  }
}

.market__item {
  width: calc((100% - 69px) / 4);
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 37px 0 22px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 223px;
}

@media screen and (max-width: 1110px) {
  .market__item {
    width: calc((100% - 23px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .market__item {
    width: 100%;
  }
}

.market__button {
  padding: 16px 31px;
  border: 2px solid rgba(76, 97, 209, 0.1);
  border-radius: 30px;
  transition-duration: 300ms;
}

.market__button:hover {
  background: rgba(255, 255, 255, 0.02);
  border: 2px solid rgba(76, 97, 209, 0.3);
}

.market__button:focus {
  border: 2px solid #4C61D1;
}

.market__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 8, 11, 0.6196078431);
  transition-duration: 500ms;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #05090C;
  background-image: url(../img/bg-pop-up.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  background-position: center center;
  border: 7px solid rgba(255, 255, 255, 0.01);
  border-radius: 30px;
  width: 593px;
  padding: 61px 61px 52px 61px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 320px;
    padding: 56px 30px 46px 36px;
  }
}

.modal__close {
  position: absolute;
  top: 43px;
  right: 46px;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .modal__close {
    top: 36px;
    right: 30px;
  }
}

.modal__title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.03;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
}

@media screen and (max-width: 767px) {
  .modal__title {
    line-height: 1.09;
    margin-bottom: 22px;
  }
}

.modal__desc {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #DDDDDD;
  max-width: 436px;
  margin-bottom: 14px;
}

@media screen and (max-width: 767px) {
  .modal__desc {
    margin-bottom: 22px;
  }
}

.modal__info {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .modal__info {
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 0;
  }
}

.modal__item:nth-child(1) {
  width: 100%;
  margin-bottom: 36px;
}

.modal__item:nth-child(2) {
  margin-bottom: 21px;
  width: 100%;
}

.modal__item:nth-child(3) {
  width: 50%;
}

.modal__item:nth-child(4) {
  width: 50%;
  margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
  .modal__item:nth-child(4) {
    margin-bottom: 0;
  }
}

.modal__info_title {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .modal__info_title {
    margin-bottom: 19px;
  }
}

.modal__web {
  display: inline-block;
  padding: 9px 21px;
  background: rgba(255, 255, 255, 0.02);
  border: 2px solid rgba(76, 97, 209, 0.16);
  border-radius: 30px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #6079FF;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .modal__web {
    width: 100%;
  }
}

.modal__flags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal__sector {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.modal__status {
  max-width: 272px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .modal__status {
    display: none;
  }
}

.modal__status_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .modal__status_mobile {
    display: block;
  }
}

.modal__status_title {
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .modal__status_title {
    margin-bottom: 19px;
  }
}

.modal__status_text {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}